@import '../lib/twitter-bootstrap/scss/_functions.scss';
@import '../lib/twitter-bootstrap//scss/_variables.scss';
@import'../lib/twitter-bootstrap//scss/_carousel.scss';

$body-color: #1f1300; /*font of the body*/
$body-text-align: center;
$nav-link-color: #754a12;



/* import the whole bootstrap scss to implement the changes*/




@import '../lib//twitter-bootstrap//scss/bootstrap.scss';