@{
    ViewData["Title"] = "Index";
}

<h1>Sitting Type List</h1>
<p>
    <a asp-action="IndexList" asp-route-sittingType="" class="btn btn-sandy">Show All Sitting List</a>
</p>

<div class="table-responsive-sm">
    <table class="table table-sm" style="">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><ul class="abc"><li class="abc"><a asp-action="IndexList" asp-route-sittingType="Breakfast">Breakfast</a></li></ul></td>
            </tr>
            <tr>
                <td><ul class="abc"><li class="abc"><a asp-action="IndexList" asp-route-sittingType="Lunch">Lunch</a></li></ul></td>
            </tr>
            <tr>
                <td><ul class="abc"><li class="abc"><a asp-action="IndexList" asp-route-sittingType="Dinner">Dinner</a></li></ul></td>
            </tr>
            <tr>
                <td><ul class="abc"><li class="abc"><a asp-action="IndexList" asp-route-sittingType="Other">Other</a></li></ul></td>
            </tr>
        </tbody>
    </table>
</div>

@section Styles{
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            background-color: white;
            font-weight: bold;
            font-size: large;
            font-family: verdana,Times New Roman, Times, serif;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        a {
            text-decoration: none;
        }

            a:hover {
                color: dimgray;
            }

        ul.abc {
            list-style-type: none;
        }

        li.abc {
            background: #f0e7c6;
            margin: 5px;
            padding: 20px;
        }

        a.btn {
            font-size: large;
            font-weight: bold;
            padding: 16px;
            margin: 5px;
        }
    </style>
}