@model ReservationRestaurant.Data.Person

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Person Details</h1>
<br />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" style="border-right-width: 0px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" style="border-left-width: 0px;">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding: 10px; direction: rtl">
                @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
                {
                    <a asp-action="IndexList" class="btn btn-sandy">Back to Users List</a>
                }
                <a asp-controller="Home" asp-action="Index" class="btn btn-sandy">Home Page</a>
                <input type="submit" value="Save" class="btn btn-primary" style=" width: 120px;" />
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
        </div>
        <div class="col-md-2"></div>
    </div>
</form>
@section Styles{
    <style>
        h1 {
            text-align: center;
        }

        div.col-md-4 {
            border: solid 1px lightgrey;
            padding: 10px;
            background-color: white;
        }
    </style>
}
